<h1>Sobre el autor</h1>
<img id="mi_imagen" src="http://joselopez.hol.es/imagenes/yo.png" alt="Foto de José López">
<p class="texto_autor">Mi nombre es José López y soy ingeniero informático recién titulado.</p>
<p class="texto_autor">Actualmente estoy aprendiendo por mi cuenta sobre tecnologías modernas.</p>
<br>
<p class="texto_autor">Tengo un <a href="http://joselopez.hol.es">sitio web</a> en el que aparece mi foto. Y por aquí mi canal de <a href="https://www.youtube.com/channel/UCJYZFW1CWt-dN9Z3HVCNJbg">Youtube</a></p>
  