* { 
	margin: 0;
}
body { 
	font: 16px arial, sans-serif;
	height: 100%;
}

#page-wrap > .main { 
	border: 1px solid #999; 
	padding: 1%;
	margin-bottom: 1px;
}

section > div { 
	padding: 20px;
	display: inline-block;
  	vertical-align: top;
}

nav, section { 
	background: #eee; 	
}

nav span { 
	margin: 0px 10px 0px 0px;
	display: block;
}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}

header, footer {
	text-align: center;
	color: rgba(255,255,255, 0.87);
	background-color: #0288d1;
}

footer a {
	text-decoration: none;
}

/***Página créditos***/
#mi_imagen {
	border-radius: 50%;
 	display: inline;
 }

.texto_autor {
	display: inline;
}