body { 
	background: #2196f3;
	margin: 0 10% 0 10%;
}

#page-wrap:after { 
	content: "Wide Layout"; 
}

nav { 
	margin-left: 2%;
	width: 15%;
	display: inline-block;
	font-weight: 800;
	font-family: sans-serif;
}

nav span  { 
	margin: 20px 0px 0px 0px;
	display: block;
}

#page-wrap #s1 h3, p, form { 
	text-align: left;
}

#body_layout {
	width: 70%;
}

footer { 
	clear: both;
	display: block;
}

footer a {
	margin: 10% 15% 10% 15%;
}

/***Página créditos***/
#mi_imagen {
	width: 100px;
}
